<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Clause Detail</title>
</head>

<body>
  <h2>{{ clause.topic }}</h2>
  <p>{{ clause.text }}</p>
  <p>Info:</p>
  <ul>
    <li>Published: {{ clause.pub_date }}</li>
    <li>Contract Type: {{ clause.contract_type }}</li>
    <li>Effective Date: {{ clause.effective_date }}</li>
    <li>Governing Law: {{ clause.gov_law }}</li>
  </ul>
  <form action="{% url 'clauses:rate' clause.id %}" method="post">
    {% csrf_token %}
    <fieldset>
      <!-- <legend>
        <h1>{{ clause.text }}</h1>
      </legend> -->
      <input type="hidden" name="rating" value="U">
      <button type="submit" id="upvote-button">Upvote</button>
      <input type="hidden" name="rating" value="D">
      <button type="submit" id="downvote-button">Downvote</button><br>
      <label for="report-reason">Reason for reporting:</label>
      <input type="text" name="report_reason" >
      <button type="submit" name="rating" value="R">Report</button>
    </fieldset>
  </form>
</body>

</html>